
/* h1{
    color:blue;
    text-align: center;
}
 p{
    text-align:center;
    color:black;
    
}
/* Group Selector */

/* 
.border
{
    border:5px solid black;
}
.js_bg
{
    background-color: rgb(202, 196, 194);

}

/* p , a, h1{
    border :5px double black;
} */
/*.resolution
{
    border:2px solid black;
    border-radius: 50%;
    height: 250px;
    width: 250px;  
    display:block;
    margin: auto;
}

.underline{
    text-underline-position: auto;
}  */

/* #header{

    border : 2px solid black; 
    background-color:crimson;
    text-align: center;
    /* text-decoration-color: white; */

}

/* #curved{
    border: 2px solid black;
    border-radius: 20px;
}

#footer{
    border-radius: 10px;
    border:solid black;
    padding: 50px;
    background-color: grey;
} 
*/
/* .footer_items{
  list-style-type: none;   
/* border: 1px solid blue; */

} */

.footer_items li{
    display:inline-block;
    margin: auto;
} */

/* Universal Selector */
/* *{
    border: 3px solid black;
    background-color : yellow;
    color: black; 
} */

/* Attribute Selector */
/* input[type = "text"]{
    padding :2px;
    border-radius:  20px;
    border:1px solid black;
    outline: none;
} */

.form-control
{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
}

button[type="submit"]
{
    background-color: purple;
}
.js{
    background-color:brown;
}
h1#qs
{
    border:5px solid crimson;
}
h1.a{
    border:5px solid green;
}
button.btn{
    background-color: green;
    color:white;
}